<%= link_to("<< Back to home", root_path, :class => 'back-link') %>

<div class="Sign up new">
	<h2>Create User</h2>

	<%= form_for(:section, :url => {:controller => 'products', :action => 'new'}) do |f|  %>

		<table summary="Signup form fields">
			<tr>
				<th>Name</th>
				<td><%= f.text_field(:name) %></td>
			</tr>
			<tr>
				<th>Password</th>
				<td><%= f.text_field(:position) %></td>
			</tr>
		</table>

		<div class="form-buttons">
			<%= submit_tag("log in") %>
		</div>

	<% end %>
</div>	
